.container{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 2px 35px;
    /* display: flex; */
    text-align: center;
    position: relative;
    left: 400px;
    background-color: rgba(96, 214, 253, 0.623);

    /* background-color: pink; */
    width: 400px;
}

.search {
    /* background-color: aquamarine; */
    columns: #555;
    padding: 10px;
    height: 90px;
    width: 350px;
    border-radius: 20px;
    margin-right: 16px;
    
}

.icon{
    border: 0px;
    background-color:#ffffff;
    border-radius: 50px;
    color: black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:2px;
   
    border: 1px solid black;
}

.input {
    height: 33px;
    border-radius: 10px;
    margin-top: 25px;
}

.weather-icon{
    width:300px;
}

.b{
    font-size: 30px;
}

h1{
    font-size:50px;
    color: white;
    margin: 10px;
     
}

h2{
    font-size:40px;
    color: white;
    margin: 4px;
    
}

.details{
    display: flex;
    color: white;
    justify-content: space-between;
}

.col{
    display: flex;
    align-items: center;
    text-align: center;
}
p{
}

body{
    background-color: black;
}

.box1{
    position: relative;
    top: 10px;
}

.box2{
    position: relative;
    bottom:10px;
}

.button{
    background: none;
    border: none;
}

body{
    
    background: linear-gradient(to right, rgb(129, 177, 203), rgb(4, 112, 139), rgb(76, 183, 190));

}